{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="title">
          <h1>Frequently Asked Questions
            <br>(FAQs)
          </h1>
        </div>

        <div class="content">

          <div class="accordion">
            <hr>
            <div class="accordion-item" id="question1">
              <a class="accordion-link" href="#question1">
                <div class="flex">
                  <h3>WHO ARE WE?</h3>

                </div>
                <i class="icon ion-md-arrow-forward"></i>
                <i class="icon ion-md-arrow-down"></i>
              </a>
              <div class="answer">
                <p>We are Year 3 Sem 5 UUM SOC student, who are currently pursuing their Bachelor in Computer Sciences
                  in Human Centered Computing (HCC).</p>
              </div>
              <hr>
            </div>
            <div class="accordion-item" id="question2">
              <a class="accordion-link" href="#question2">
                <div class="flex">
                  <h3>WHAT IS OUR SPECIALITIES?</h3>

                </div>
                <i class="icon ion-md-arrow-forward"></i>
                <i class="icon ion-md-arrow-down"></i>
              </a>
              <div class="answer">
                <p>We will be able to provide a strealine of development, including from defining the concept, designing
                  of interface, development of system and deployment of project.</p>
              </div>
              <hr>
            </div>

            <div class="accordion-item" id="question3">
              <a class="accordion-link" href="#question3">
                <div class="flex">
                  <h3>HOW LONG DOES IT TAKES TO DEVELOP A WEBSITE?</h3>

                </div>
                <i class="icon ion-md-arrow-forward"></i>
                <i class="icon ion-md-arrow-down"></i>
              </a>
              <div class="answer">
                <p> The timeline for developing a website depends on several factors, including the complexity of the
                  design, the number of pages, the functionality required, and the feedback and approval process.
                  <br>A basic website might take a few weeks, while more complex sites could take several months.
                </p>
              </div>
              <hr>
            </div>

            <div class="accordion-item" id="question4">
              <a class="accordion-link" href="#question4">
                <div class="flex">
                  <h3>WILL MY WEBSITE BE MOBILE FRIENDLY?</h3>

                </div>
                <i class="icon ion-md-arrow-forward"></i>
                <i class="icon ion-md-arrow-down"></i>
              </a>
              <div class="answer">
                <p>Absolutely!
                  <br>All our websites are designed to be fully responsive and provide a seamless experience across all
                  devices, including smartphones, tablets, and desktops.
                </p>
              </div>
              <hr>
            </div>

            <div class="accordion-item" id="question5">
              <a class="accordion-link" href="#question5">
                <div class="flex">
                  <h3>WHAT IS OUR SOFTWARE DEVELOPMENT PROCESS?</h3>

                </div>
                <i class="icon ion-md-arrow-forward"></i>
                <i class="icon ion-md-arrow-down"></i>
              </a>
              <div class="answer">
                <p>We follow a structured project management process that includes requirement analysis, project
                  planning, design, development, testing, deployment, and maintenance.
                  <br>We use agile methodologies to ensure flexibility and efficiency, and we keep our clients informed
                  at every stage of the process.
                </p>
              </div>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

 {% endblock %}