{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}
    <!-- ======= About Section ======= -->
<section class="background" id="background">
  <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
    <div class="col-xl-8 col-lg-8">
      <h1>4OWL<span>.</span>Z</h1>
      <h2>A team of four specialized individuals in a tech project typically includes<br><br>
          <span>Frontend Developer</span><br><br>
          <span>Analytics Expert</span><br><br>
          <span>Database Manager</span><br><br>
          <span>Security Manager</span><br>
      </h2>
    </div>
  </div>
</section>
    <!-- End About Section -->

    <!-- ======= Role Section-FRONTEND ======= -->
<h1 class="about-team-title">ABOUT TEAM</h1>
  
    {%for profile in profiles%}
    <section id="role-section" class="role-section">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-4">

            <img src="../assets/img/face/{{profile[0]}}.png" alt="Frontend Profile Pic" class="section-image">
            <div class="member-name">
              <h2>{{profile[0]}}</h2>
              <h3>{{profile[1]}}</h3>
              <h4>{{profile[2]}}</h4>
            </div>
          </div>

          <div class="col-4">
            <div class="member-desc">
              <div class="section-content">
                <h3>Expert Domain</h3>
                <hr>
                <ul>
                  {%for skill in skills%}
                    {%if skill[0]==profile[0]%}
                      <li>{{skill[1]}}</li>
                    {%endif%}
                  {%endfor%}
                </ul>
              </div>
            </div>
          </div>

          <div class="col-4">
            <div class="member-desc">
              <div class="section-content">
                <h3>Hobby</h3>
                <hr>
                <h4>What do I do when I am free? <br>Click the button below to get to know about my hobby.</h4>
                <a href="/hobby?name={{ profile[0]}}" class="btn">Hobby</a>
              </div>
            </div>

            <div class="member-desc">
              <div class="section-content">
                <h3>Resume</h3>
                <hr>
                <h4>Interested in detail?
                  <br>Click the button below to get to know more about us
                </h4>
                <a href="/portfolio?name={{ profile[0] }}" class="btn">Resume</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </section><!-- End Frontend Section -->
    <div class="pagedivider">
      <hr>
    </div>
    {%endfor%}
    
{% endblock %}
