{% extends "base.html" %}

{% block title %}Home - My Website{% endblock %}

{% block content %}

  <!-- ======= Hero Section ======= -->
  <section class="background" id="background">
    <div class="row justify-content-center" style="padding:10px" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-8 col-lg-8">
        <h1>4OWL<span>.</span>Z</h1>
        <h2>A team of four specialized individuals in a tech project typically includes<br><span>Frontend Developer</span>, 
            <span>Analytics Expert</span>, 
            <span>Database Manager</span>, and 
            <span>Security Manager</span>.
        </h2>
      </div>
    </div>
  </section>
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="title">
          <h2>THEIR CAPABILITIES</h2>
          <p>Click to find out!</p>
        </div>
        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">

            <h2 class="role frontend"><a href="#frontend-section">FRONTEND</a></h2>
            <h2 class="role analytic"><a href="#analytic-section">ANALYTIC</a></h2>
            <h2 class="role database"><a href="#database-section">DATABASE</a></h2>
            <h2 class="role security"><a href="#security-section">SECURITY</a></h2>

          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->






    <!-- ======= Frontend Section ======= -->
    <section id="frontend-section" class="frontend-section">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-6">
            <div class="section-title">
              <h2>Frontend Engineer</h2>
              <p>Tracy Liaw</p>
            </div>
            <div class="section-content">
              <h3>Expertised Domain</h3>
              <ul>
                {% for skill in skills %}
                  {% if skill[0] == "Tracy Liaw Mien Yee" %}
                    <li>{{ skill[1] }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
              <div class="button-group">
                <a href="/resume?name=Tracy%20Liaw%20Mien%20Yee" class="resume">RESUME</a>
                <a href="/hobby?name=Tracy%20Liaw%20Mien%20Yee" class="hobby">HOBBY</a>
              </div>
            </div>
          </div>

          <div class="col-6">
            <img src="../assets/img/LiawYee.png" alt="Frontend Profile Pic" class="section-image">
          </div>

        </div>
      </div>
    </section><!-- End Frontend Section -->
    <!-- ======= Analytic Section ======= -->
    <section id="analytic-section" class="analytic-section">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-6">
            <img src="../assets/img/KarMin.png" alt="Analytic Profile Pic" class="section-image">
          </div>

          <div class="col-6">
            <div class="section-title">
              <h2>Project Analytic</h2>
              <p>CHONG KAR MIN</p>
            </div>
            <div class="section-content">
              <h3>Expertised Domain</h3>
              <ul>
                {% for skill in skills %}
                  {% if skill[0] == "Chong Kar Min" %}
                    <li>{{ skill[1] }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
              <div class="button-group">
                <a href="/resume?name=Chong%20Kar%20Min" class="resume">RESUME</a>
                <a href="/hobby?name=Chong%20Kar%20Min" class="hobby">HOBBY</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <!-- ======= Database Section ======= -->
    <section id="database-section" class="database-section">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-6">
            <div class="section-title">
              <h2>Database Manager</h2>
              <p>LOW WEI JIE</p>
            </div>

            <div class="section-content">
              <h3>Expertised Domain</h3>
              <ul>
                {% for skill in skills %}
                  {% if skill[0] == "Low Wei Jie" %}
                    <li>{{ skill[1] }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
              <div class="button-group">
                <a href="/resume?name=Low%20Wei%20Jie" class="resume">RESUME</a>
                <a href="/hobby?name=Low%20Wei%20Jie" class="hobby">HOBBY</a>
              </div>
            </div>
          </div>

          <div class="col-6">
            <img src="../assets/img/WeiJie.png" alt="Database Profile Pict" class="section-image">
          </div>

        </div>


      </div>
    </section><!-- End Services Section -->
    <!-- ======= Security Section ======= -->
    <section id="security-section" class="security-section">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-6">
            <img src="../assets/img/Derrick.png" alt="Security Profile Pic" class="section-image">
          </div>


          <div class="col-6">
            <div class="section-title">
              <h2>Security Manager</h2>
              <p>DERRICK SAW</p>
            </div>
            <div class="section-content">
              <h3>Expertised Domain</h3>
              <ul>
                {% for skill in skills %}
                  {% if skill[0] == "Derrick Saw Wei Heng" %}
                    <li>{{ skill[1] }}</li>
                  {% endif %}
                {% endfor %}
              </ul>
              <div class="button-group">
                <a href="/resume?name=Derrick%20Saw%20Wei%20Heng" class="resume">RESUME</a>
                <a href="/hobby?name=Derrick%20Saw%20Wei%20Heng" class="hobby">HOBBY</a>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

{% endblock %}
